html {
  background-color: #f0eee8;

  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: #512200;
  text-decoration: none;
}

.link-card {
  display: block;
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 14px 14px 14px;
  width: 300px;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card:hover .btn {
  background-color: #512200;
}

h2 {
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

p {
  font-family: "Georgia", serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 13px;
}

dt {
  display: inline-block;
  font-family: "Georgia", serif;
  font-size: 0.875rem;
  line-height: 1.35rem;
  margin-right: 0;
  width: 120px;
}

dd {
  display: inline-block;
  font-family: "Georgia", serif;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.35rem;
  margin-left: 0;
  width: 100px;
}

.btn {
  color: white;
  font-family: "Dosis", sans-serif;
  font-size: 1.13rem;
  font-weight: 700;
  background-color: #785439;
  border-radius: 8px;
  padding: 8px 13px 13px 13px;
}

div {
  margin-bottom: 11px;
  margin-top: 24px;
}

hr + div {
  text-align: center;
}

hr {
  border: 1.5px solid #9a816d;
  margin: 0;
}
